.downloadb{
    display: flex;
width: 193.727px;
height: 65.431px;
border-radius: 6.185px;
border: 1.031px solid #00A4AA;
justify-content: center;
align-items: center;
gap: 8px;
border-radius: 8px;
transition: 0.5s ease;
}
.downloadb:hover{
    border-radius: 8.767px;
border: 0.777px solid #00A4AA;
background: linear-gradient(90deg, rgba(0, 164, 170, 0.01) 1.47%, rgba(0, 66, 68, 0.01) 100%);
box-shadow: 0 1px 18px 0 #ffffff58, 0 1px 2px -1px #000;
 transform: scale(1.06);
}
.downtextwdes{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.downtext{
    color: rgba(255, 255, 255, 0.93);
font-family: "Helvetica Neue";
font-size: 10.309px;
font-style: normal;
font-weight: 300;
line-height: normal;
    margin: 0;
}
.storename{
    color: #FFF;
font-family: "Helvetica Neue";
font-size: 18.556px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin: 0;
}