.featureName{
    color: #36404D;
font-family: Arial;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin: 0;
margin-top: 20px;
width: 225.86px;

}
.featureDes{
    color: #4A5565;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
width: 225.86px;
line-height: normal
}
.fcard{
    padding: 50px 30px;
   

border-radius: 10px;
border: 0.667px solid #FBFAF7;
background: #FFF;
box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.25), 0 1px 2px -1px rgba(0, 0, 0, 0.10);
position: sticky;
}
.cardrotate1{
transform: rotate(-4.458deg);
}
