.fsize{
    font-size: 56px;
    margin: 0;
}
.white{
    color: white;
}
.careersbg{
background-image: url('../assets/careersbg.png');
background-size: cover;
background-repeat: no-repeat;
height:95vh;
margin: 0 auto;
    padding-top: 40px;
/* display: flex;
flex-direction: column;
justify-content: center;
align-items: center; */
}
.paddingtop{
   padding-top: 70px;
}
.forbutton{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: -50px;

}
.whitebg{
    background: linear-gradient(180deg, #FBFAF7 0%, #E5F2FF 58.77%, #BEDFFF 100%);
}
.bluebgi{
    background: linear-gradient(180deg, #0053AD 0%, #002247 100%);
}
.margin0{
    margin-bottom: 0;
}