.fsize{
    font-size: 56px;
    margin: 0;
}
.white{
    color: white;
}
.careersbg{
background-image: url('../assets/careersbg.png');
background-size: cover;
background-repeat: no-repeat;
height:95vh;
margin: 0 auto;
    padding-top: 40px;
/* display: flex;
flex-direction: column;
justify-content: center;
align-items: center; */
}
.paddingtop{
   padding-top: 70px;
}
.forbutton{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: -50px;

}
.whitebg{
    background: linear-gradient(180deg, #FBFAF7 0%, #E5F2FF 58.77%, #BEDFFF 100%);
}
.bluebgi{
    background: linear-gradient(180deg, #0053AD 0%, #002247 100%);
}
.margin0{
    margin-bottom: 0;
}
.padding120{
    padding: 140px 0px;
}

.slideCard {
    opacity: 0;
    transform: translateX(-40px);
    animation: slideIn 0.6s ease forwards;
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@media (max-width: 1200px) {
 

.careersbg {
   height: auto;
    padding: 80px 0px;
}
.fsize {
    font-size: 32px;}
}

