.fortest {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    width: 80%;
    margin: 0 auto;
    align-items: center;
}
.forvaluesbgtest{
    height: auto;
    padding: 40px 0px 70px 0px;
        display: flex;
    flex-direction: column;
    gap: 16px;
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh; 
}

.spinner {
    width: 45px;
    height: 45px;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #00A4AA; 
    
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.fade-in-section {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
    will-change: opacity, transform;
}

.fade-in-section.is-visible {
    opacity: 1;
    transform: translateY(0);
}
@media (max-width: 1424px) {
    .fortest {
        grid-template-columns: repeat(2, 1fr);
        width: 70%;
    }
}

@media (max-width: 1000px) {
    .fortest {
        grid-template-columns: 1fr;
        width: 95%;
    }
}